# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore


# Environment Variables
.env

# Dependencies
node_modules

# Compiled Output
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock


# Misc
.DS_Store
.Thumbs.db